<form [formGroup]="serverTypeForm" (ngSubmit)="createServerType()">
  <mat-form-field appearance="fill" style="margin:4px;">
    <mat-label>Server type title</mat-label>
    <input matInput #title formControlName="title" minLength="1" maxlength="40" required>
    <mat-hint align="end">{{title.value?.length || 0}}/40</mat-hint>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!serverTypeForm.valid">Save</button>
</form>
<mat-list>
  <mat-list-item *ngFor="let serverType of serverTypes" style="margin:16px;">
    <p>{{ serverType.title }}</p>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="typeMoreMenu" aria-label="More">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #typeMoreMenu="matMenu" xPosition="before" yPosition="below" width="1">
      <button mat-menu-item (click)="deleteServerType(serverType)">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-list-item>
</mat-list>

