<div class="page-content">
  <mat-grid-list cols="5" rowHeight="20:10">
    <mat-grid-tile class="servercard" *ngFor="let server of servers" [colspan]="1" [rowspan]="1" (click)="router.navigate(['/server/' + server.id])">
      <h2 class="servertitle">{{ server.title }}</h2>
      <span class="{{ server.status == 'active'? 'serveron' : 'serveroff' }}"></span>
      <p>{{ server.description }}</p>
    </mat-grid-tile>
  </mat-grid-list>
  <div style="position:fixed;bottom:50px;right:50px;">
    <button mat-fab color="primary" matTooltip="Add server" aria-label="Add server" (click)="openActionDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
