<form [formGroup]="serverForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ server? "Edit" : "Add" }} server</h2>
  <div mat-dialog-content class="server-form">
    <div>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Title</mat-label>
        <input matInput #title formControlName="title" [ngModel]="server? server.title:''" minLength="1" maxlength="40"
          required>
        <mat-hint align="end">{{title.value?.length || 0}}/40</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Name</mat-label>
        <input matInput #name formControlName="name" [ngModel]="server? server.name:''" minLength="1" maxlength="40"
        required>
        <mat-hint align="end">{{name.value?.length || 0}}/40</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="longField" style="margin:4px;">
        <mat-label>Description</mat-label>
        <input matInput #description formControlName="description" [ngModel]="server? server.description:''">
      </mat-form-field>
      <br>
      <mat-slide-toggle matInput #backupActive formControlName="backupActive" [ngModel]="server? server.backupActive:false"
        style="margin:4px;">Backup active</mat-slide-toggle>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Backup location</mat-label>
        <input matInput #backupLocation formControlName="backupLocation" [ngModel]="server? server.backupLocation:''"
          maxlength="200">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="longField">
        <mat-label>Actions</mat-label>
        <mat-select [compareWith]="compareObjects" formControlName="actions" [ngModel]="server? server.actions:[]" multiple>
          <mat-option *ngFor=" let action of actions" [value]="action">{{ action.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="longField">
        <mat-label>Managers</mat-label>
        <mat-select [compareWith]="compareObjects" formControlName="managers" [ngModel]="server? server.managers:[]" multiple>
          <mat-option *ngFor="let user of users" [value]="user">{{ user.username }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Server type</mat-label>
        <mat-select #serverType formControlName="serverType" [ngModel]="selectedServerType" required>
          <mat-option *ngFor="let type of serverTypes" [value]="type.id">
            {{ type.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Hostname</mat-label>
        <input matInput #hostname formControlName="hostname" [ngModel]="server? server.hostname:''" maxlength="50">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Server install dir</mat-label>
        <input matInput #serverInstallDir formControlName="serverInstallDir"
          [ngModel]="server? server.serverInstallDir:''" maxlength="200">
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Save dir</mat-label>
        <input matInput #saveDir formControlName="saveDir" [ngModel]="server? server.saveDir:''" maxlength="200">
      </mat-form-field>
      <br>
      <mat-slide-toggle matInput #autorestartActive formControlName="autorestartActive"
        [ngModel]="server? server.autorestartActive:false" style="margin:4px;">Auto restart active</mat-slide-toggle>
      <mat-form-field appearance="fill" style="margin:4px;">
        <mat-label>Auto restart time</mat-label>
        <input matInput #autorestartTime formControlName="autorestartTime" type="time"
          [ngModel]="server? server.autorestartTime:''">
      </mat-form-field>
      <!-- [ngModel]="server? server.serverEnv:''" -->
      <div id="envCont" style="display: block;">
        <div>Server env :</div>
        <mat-form-field appearance="outline" style="margin:2px;">
          <mat-label>Env Key</mat-label>
          <input matInput #key (input)="onNewChange(key, true)">
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin:2px;">
          <mat-label>Env value</mat-label>
          <input matInput #value (input)="onNewChange(value, false)">
        </mat-form-field>
        <div *ngFor="let env of envs">
          <mat-form-field appearance="outline" style="margin:2px;">
            <mat-label>Env Key</mat-label>
            <input matInput [(ngModel)]="env.key" [ngModelOptions]="{standalone: true}" (input)="onChange(env)">
          </mat-form-field>
          <mat-form-field appearance="outline" style="margin:2px;">
            <mat-label>Env value</mat-label>
            <input matInput [(ngModel)]="env.value" [ngModelOptions]="{standalone: true}" (input)="onChange(env)">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="!serverForm.valid">Save</button>
  </div>
</form>
