<span [ngClass]="{'unicorn-dark-theme': isDarkTheme | async}">
  <!-- <p>This website use fonctionnai cookie <button onclick="this.parentNode.parentNode.removeChild(this.parentNode);" aria-label="Close cookie alert">X</button></p> -->
  <mat-toolbar color="primary" class="mat-elevation-z2">
    <button mat-icon-button aria-label="Main menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title | titlecase }}</span>
    <span class="spacer"></span>
    <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dark theme</mat-slide-toggle>
    <button mat-icon-button aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="main-drawer-container" autosize>
    <mat-drawer #drawer mode="{{ breakpointObserver.isMatched('(max-width: 599px)')? 'over' : 'side' }}">
      <mat-nav-list style="width:240px">
        <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-list-item *ngIf="authService.getToken()" routerLink="/news" routerLinkActive="active">News</a>
        <a mat-list-item *ngIf="authService.getToken()" routerLink="/servers" routerLinkActive="active">Servers</a>
        <a mat-list-item *ngIf="authService.getToken()" routerLink="/roles" routerLinkActive="active">Roles</a>
        <a mat-list-item *ngIf="authService.getToken()" routerLink="/manage" routerLinkActive="active">Manage</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="https://www.magicorp.fr" routerLinkActive="active">Magicorp</a>
        <a mat-list-item href="https://code.magicorp.fr" routerLinkActive="active">Code</a>
        <mat-divider></mat-divider>
        <a mat-list-item *ngIf="!authService.getToken()" href="https://www.magicorp.fr/signin" routerLinkActive="active">Sign in</a>
        <a mat-list-item *ngIf="authService.getToken()" href="https://www.magicorp.fr/signout" routerLinkActive="active">Sign out</a>
      </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</span>
